<!DOCTYPE html>
<html>
    <head>
        <title>Delete Files</title>
    </head>
    <body>

        <h1>All uploaded Files</h1>
        Click here to Delete File<br><br>


            {% if f==[] %}
                No Files have been stored on the Server!

            {% else %}
            <ul>
                {% for file in f %}
                    <li>{{file}} &nbsp; &nbsp; &nbsp;    <a href="{{ url_for('delete_files', filename=file) }}" ><button>Delete</button></a></li>
                    
                {% endfor %}
                
            </ul>

            {% endif %}

    </body>
</html>